html{
    font-size: 62.5%;
    box-sizing: border-box;
}
html,body{
    margin:0;
}
.clearfix::after{
    display:block;
    clear: both;
    content: "";
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color:black
}
.mt-10{
    margin-top: 10px;
}
.d-none{
    display:none !important
}
.section{
    height: 100vh;
    min-height: 800px;
}
body {background-image: url(./IMAGENES&ASSETS/slider-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
.header{
    border-bottom: 1px solid #E0752F;
    position:fixed;
    width:100%
    }
.logo{
    float:left;
    display: block;
    padding: 38px 16px;
    
    
}
.navbar{
    float: right;
}
.navbar>ul>li{
    display: inline-block;
}
.navbar>ul>li>a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:block;
    padding: 6px 10px;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

.main{
    padding: top 90px;
}

.section-inicio> div> h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightcyan;
    font-size: 40px;
    top: 254px;
    left: 101px;
    width: 554px;
    height: 115px;
    text-align: left;
    padding-left: 85px;
    padding-top: 85px;
    

}

.section-inicio> div> .subclaseinicio{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightcyan;
    font-size: 16px;
    top: 399px;
    left: 101px;
    width: 343px;
    height: 42px;
    padding-left: 85px;
    padding-top: 85px;
    font-weight: 700;
    
}
.readmorecontainer{

    top: 65px;
    left: 85px;
    width: 100px;
    height: 42px;
    background: saddlebrown;
    position: relative;
    border-radius: 25px
}
 .readmoreclass{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightcyan;
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
    margin: auto;
    line-height: 40px;
    font-weight: 600

    }